@using InnoGotchi.Web.BLL.DTO;
@{
    ViewData["Title"] = "All users";
}
@model IEnumerable<UserDTO>;
<div class="text-center">
    <h1 class="display-4">Users</h1>
    <table class="table">
        <tr>
            <td></td>
            <td></td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td align="left">
                    <img src="data:image/png;base64,@(Convert.ToBase64String(item.Avatar))" width="60" height="60" />
                    @item.FirstName @item.LastName
                </td>
                <td valign="middle">
                    <a class="btn btn-sm btn-primary" asp-action="Create" asp-route-receiverId="@item.Id" asp-controller="Requests">Send friendship request</a>
                </td>
            </tr>
        }
    </table>
</div>
