@model ErrorModel;

<form id="changePassword_form" asp-action="ChangePassword" asp-controller="Users" method="Post">
    <h3>Password change</h3>
    <div class="form-floating mb-3">
        <input id="oldPassword_input" class="form-control" type="password" name="oldPassword" required/>
        <label for="oldPassword_input">Old password</label>
    </div>
    <div class="form-floating mb-3">
        <input id="newPassword_input" class="form-control" type="password" name="newPassword" required />
        <label for="newPassword_input">New password</label>
    </div>
    <div class="form-floating mb-3">
        <input id="confirmPassword_input" class="form-control" type="password" name="confirmPassword" required />
        <label for="confirmPassword_input">Confirm new password</label>
    </div>
    @if (Model != null)
    {
        <div id="errorMessage" class="text-danger h6">@Model.Error</div>
    }
    <div id="equalPasswordsMessage" class="text-danger h6" style="display:none">New password and confirm password must be equal</div>
    <div>
        <input type="submit" onclick="return formValidate()" class="btn btn-outline-dark" value="Change password" />
    </div>
</form>

<script>
    var form = document.getElementById('changePassword_form');
    var oldPassword_input = document.getElementById('oldPassword_input');
    var newPassword_input = document.getElementById('newPassword_input');
    var confirmPassword_input = document.getElementById('confirmPassword_input');
    var equalityErrorMessage = document.getElementById('equalPasswordsMessage');
    var errorMessage = document.getElementById('errorMessage');
    function formValidate(){
        var newPassword = newPassword_input.value;
        var confirmPassword = confirmPassword_input.value;
        console.log(newPassword);
        console.log(confirmPassword);
        if(newPassword != confirmPassword){
            isValid = false;
            console.log(isValid);
            equalityErrorMessage.style.display = 'block';
            return false;
        }
        return true;
    } 
    
    oldPassword_input.addEventListener('change', () => {
        hideErrorMessages();
    });
    newPassword_input.addEventListener('change', () => {
        hideErrorMessages();
    });
    confirmPassword_input.addEventListener('change', () => {
        hideErrorMessages();
    });

    function hideErrorMessages() {
        equalityErrorMessage.style.display = 'none';
        errorMessage.style.display = 'none';
    }
</script>
