@using InnoGotchi.BLL.DTO;
@model IEnumerable<UserDTO>

<div class="text-center">
    <h1 class="display-4">Your coloborators</h1>
    <table class="table">
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td align="left">
                    <img src="data:image/png;base64,@(Convert.ToBase64String(item.Avatar))" width="60" height="60" />
                </td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>
                    <a class="btn btn-outline-dark">go to farm</a>
                </td>
            </tr>
        }
    </table>
</div>