@using (Html.BeginForm("Authenticate", "Users"))
{
    <h3>Login form</h3>
    <p>
        <label>Enter email</label><br/>
        <input type="email" name="email" /> <br/>
    </p>
    <p>
        <label>Enter password</label><br/>
        <input type="password" name="password" /><br/>
    </p>
    <p>
        <input type="submit" value="Login" />
    </p>
}
