@using InnoGotchi.BLL.DTO;
@{
    ViewData["Title"] = "All pets";
}
@model IEnumerable<PetDTO>;
<div class="text-center">
    <h1 class="display-4">Pets</h1>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Appearance</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Appearance</td>
            </tr>
        }
    </table>
</div>
