<form method="post" asp-action="Create" asp-controller="Pets">
    <h1>Pet constructor</h1>
    <div>
        <label>Name</label><br/>
        <input type="text" name="name"/>
    </div>
    <div>
        <label>Eyes</label><br/>
        <input type="text" name="EyesURL" />
    </div>
    <div>
        <label>Nose</label><br/>
        <input type="text" name="NoseURL" />
    </div>
    <div>
        <label>Mouth</label><br/>
        <input type="text" name="MouthURL" />
    </div>
    <div>
        <label>Body</label><br/>
        <input type="text" name="BodyURL" />
    </div>
    <div>
        <input type="submit" value="Create"/>
    </div>
</form>