@using InnoGotchi.BLL.DTO;
@model FarmDTO

@if (Model == null)
{
    <h1>You have no farm yet</h1>
    <form method="post" asp-controller="Farms" asp-action="CreateFarm">
        <label>Enter farm name</label>
        <input name="name" type="text"/>
        <input type="submit" value="Create farm"/>
    </form>
}
else
{
    if (Model.Pets == null || Model.Pets.Count() == 0)
    {
        <h1>You have no pets yet</h1>
        <a class="btn btn-info" asp-action="PetConstructor" asp-controller="Pictures">Create new pet</a>
    }
    else
    {
        <div class="text-center">
            <h1 class="display-4">Your pets</h1>
            <table class="table">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Appearance</th>
                </tr>
                @foreach (var item in Model.Pets)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td><img src="data:image/svg+xml;base64,@(item.Appearance)" width="200" height="200"/></td>
                    </tr>
                }
            </table>
        </div>
        <div>
            <a class="btn btn-info" asp-action="PetConstructor" asp-controller="Pictures">Create new pet</a>
        </div>
    }

}
